body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: thistle;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_heading {
    font-family: cursive;
    font-size: 50px;
    width: 320px;
    position: relative;
    padding-left: 50px;
    font-weight: lighter;
}

.entries {
    position: absolute;
    margin-top: 20px;
    top: 140px;
    border: 2px solid black;
    width: 850px;
    height: auto;
}

#add_items {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 830px;
    height: 50px;
    display: flex;
}

#input_field {
    width: 90%;
    height: 75%;
    font-size: 25px;
    outline: none;
    margin-top: 2px;
    border-style: hidden;
    padding-right: 0px;
    margin-right: 0px;
    flex-grow: 2;
    font-family: cursive;
}

#addBtn {
    width: 8%;
    height: 80%;
    font-size: 20px;
    border: 0px;
    flex-grow: 1;
    margin-top: 2px;
    background-color: black;
    color: white;
    font-family: cursive;
}

ul li {
    color: black;
    font-size: 30px;
    font-family: cursive;
    list-style: none;
}

.clear-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#clear {
    font-size: 20px;
    background-color: black;
    color: white;
    border-style: hidden;
    padding: 5px 10px;
    font-family: cursive;
}

@media screen and (max-width:600px) {
    .main_heading {
        font-family: cursive;
        font-size: 150px;
        width: 320px;
        position: absolute;
        padding-left: 50px;
        font-weight: lighter;
        left: -10px;
    }
}