body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.main_heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    width: 320px;
    position: relative;
    padding-left: 50px;
    font-weight: lighter;
}

.entries {
    position: absolute;
    margin-top: 20px;
    top: 140px;
    width: 850px;
    height: auto;
    box-shadow: 10px 10px 10px 10px moccasin;
    overflow: auto;
}

#add_items {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 830px;
    height: 50px;
    display: flex;
}

#input_field {
    width: 90%;
    height: 75%;
    font-size: 25px;
    outline: none;
    margin-top: 2px;
    border-style: hidden;
    padding-right: 0px;
    margin-right: 0px;
    flex-grow: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

#input_field:hover {
    border: 2px solid oldlace;
}

#addBtn {
    width: 8%;
    height: 80%;
    font-size: 20px;
    border: 0px;
    flex-grow: 1;
    margin-top: 2px;
    background-color: burlywood;
    color: white;
    font-family: cursive;
}

#addBtn:hover {
    border: 2px solid peru;
}

ul li {
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    font-weight: lighter;
}

ul li:hover {
    background-color: moccasin;
}

#list_items {
    padding-left: 20px;
}

[contenteditable] {
    outline: 0px solid transparent;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800PX;
    height: 50PX;
    border: 1px dotted grey;
    padding-left: 5px;
}

p {
    flex-grow: 4;
    width: 70%;
    height: 100%;
}

.close {
    flex-grow: 1;
    width: 5%;
    height: 100%;
    background-color: burlywood;
    color: white;
    font-family: cursive;
    font-size: 20px;
    border-style: hidden;
    margin-left: 1px;
}

.close:hover {
    border: 2px solid peru;
}

.complete {
    flex-grow: 1;
    width: 5%;
    height: 100%;
    background-color: burlywood;
    color: white;
    font-family: cursive;
    font-size: 20px;
    border-style: hidden;
}

.complete:hover {
    border: 2px solid peru;
}

.clear-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#clear {
    font-size: 20px;
    background-color: burlywood;
    color: white;
    border-style: hidden;
    padding: 5px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: burlywood;
    font-weight: lighter;
}

#clear:hover {
    border: 2px solid peru;
}

@media screen and (max-width:600px) {
    .main_heading {
        font-family: cursive;
        font-size: 150px;
        width: 320px;
        position: absolute;
        padding-left: 50px;
        font-weight: lighter;
        left: -10px;
    }
}